$c1: #b2c063;
$c2: #232425;
$c3: #676860e7;
head{
    text-align: center;
}
body{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    color: $c2;
    padding: 30px;
    background-attachment: fixed;
    background-image: linear-gradient($c1, $c3), url(../Form/img/4.jpg) ;
}
form{
    padding-top: 100px;
    background-position: center;
    font-size: 20px;
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block
}
.text-box{
    position: relative;
    padding: round($number: 25);
}


